<%= form_for(@waterbill) do |f| %>
  <% if @waterbill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waterbill.errors.count, "error") %> prohibited this waterbill from being saved:</h2>

      <ul>
      <% @waterbill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consume %><br>
    <%= f.text_field :consume %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.number_field :month %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :consuption %><br>
    <%= f.text_field :consuption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
