

<p id="notice"><%= notice %></p>

<h1>Listing Waterbills</h1>

<table>
  <thead>
    <tr>
      <th>Consume</th>
      <th>Month</th>
      <th>Year</th>
      <th>Consuption</th>
      <th>Price</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waterbills.each do |waterbill| %>
      <tr>
        <td><%= waterbill.consume %></td>
        <td><%= waterbill.month %></td>
        <td><%= waterbill.year %></td>
        <td><%= waterbill.consuption %></td>
        <td><%= teste(waterbill.consuption) %></td>
        <td>
          <%= "normal" if waterbill.consuption < 10 %>
          <%= "overuse" if waterbill.consuption < 30 %>
          <%= "excessive" if waterbill.consuption > 30%>
        </td>
        <td><%= link_to 'Edit', edit_waterbill_path(waterbill) %></td>
        <td><%= link_to 'Destroy', waterbill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waterbill', new_waterbill_path %>
